### ide ###
.DS_Store

### node ###
node_modules

###bower components###
bower_components
vendor
.sass-cache

### Temp Development ###
app/app.htm
app/*.js
app/*.css
app/*.map
app/assets
app/img
!app/img/360-select.jpg
!app/img/gun.jpg

### Distribution directory ###
dist
